.Genny {
    display: flex;
    justify-content: center;
    margin: 200pt;
}

h1 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}
body {
    background-image: url(Black_Bull_Insignia.webp);
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: -1;
}