.Genny {
    display: flex;
    justify-content: center;
    /* margin: 200pt; */
}

.About h1 {
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 48pt;
    display: flex;
    justify-content: center;
    margin-top: 200pt;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
    color:#B909FF;
    font-size: 48pt;
    line-height: 0pt;
    margin-top: 50pt;
    -webkit-text-stroke-color: 1.5px #FFF600;
    -webkit-text-stroke: 1.5px #FFF600;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
    color: #B909FF;
    font-size: 48pt;
    line-height: 0pt;
    -webkit-text-stroke-color: 1px #FFF600;
    -webkit-text-stroke: 1px #FFF600;
}

p {
    font-family: "Galindo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFBFB;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 100pt;
}
body {
   background-color: black;
}